:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(49, 58, 69, 0.87);
  background: linear-gradient(90deg,rgba(17, 25, 44, 1) 0%, rgba(44, 62, 84, 1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

/*===========================================================*/

.main{
  width: 60%;
  margin: auto;
  height: max-content;

  & *{
    border: 0px solid;
    margin: 5px;
  }

/*===========================================================*/

  h1{
    text-align: center;
    font-size: 50px;
  }
  
  header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    margin-top: -100px !important;
    padding-top: 10px;
    padding-bottom: 17px;
    padding-left: 50px;
    padding-right: 50px;
    width: 1105px;
    margin:auto;
    margin-top: -90px;
    margin-left: -50px;
    background-color: rgb(16, 24, 42);
    border-radius: 0px 0px 50px 50px;
    border: 1px solid rgb(35, 44, 71);
    border-top: 0;

    h1{
      margin-left: 20px;
    }
    h2{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &> *{
      border: 0px solid;
    }

    &>:nth-child(1){
      width: 15%;
    }

    &>:nth-child(2){
      width: 50%;
    }

    &>:nth-child(3){
      width: 15%;
    }
  }


  .logo{
    font-size: 30px;
    font-weight: 900;
    color: white;
  }

  .input_search{
    width: 50%;
    height: 48px;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 4px;
    background-color: #ffffff;
    border: 1px solid rgba(49, 58, 69, 0.87);
    color: rgba(255, 255, 255, 0.87);
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(25, 34, 62);
  }

  .input_search:focus{
    outline: none;
  }

  section{
    details{
      summary{
        list-style: none; 
        background-color: #242424;
        color: #ffffff;
      }
    }
  }

  a{
    text-decoration: none;
    color: #4b4b4b;
  }

}

/*===========================================================*/

.section_filter{
  margin-top: 100px;
  display: flex;
  justify-content:center;
  color: white;
  border: 1px solid rgb(64, 68, 104);
  border-radius: 15px;
  background: linear-gradient(90deg,rgba(17, 25, 44, 1) 0%, rgba(44, 62, 84, 1) 100%);
  padding: 10px 0;


  & *{
    padding: 2px 15px;
    font-size: 15px;
    border-radius: 9px;
    cursor: pointer;
  }
  
  & *:focus{
    background: linear-gradient(90deg,rgba(144, 53, 234, 1) 0%, rgba(40, 97, 235, 1) 100%);
    color: #ffffff;
    border: 0;
  }
}

.filters_one{
  display: flex;
  margin-right: auto;
  padding-right: 65px;
  cursor: default;

  & *{
    background-color: #465572;
  }
}

.filters_two{
  display: flex;
    & *{
    background-color: #465572;

  }
}

.filter_name_1{
  background-color: #242424;
  padding-bottom: 5px;
}

.filter_name_2{
  background-color: #242424;
}

/*===========================================================*/

.div_item{
  
  border: 0px solid;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px; 

}

.item{
  border: 1px solid rgb(88, 94, 133);
  padding-top: 10px;
  width: calc(31%);
  height: auto;

  flex-shrink: 1;

  box-sizing: border-box;

  text-align: start;
  background-color: rgb(44, 62, 99) ;
  color: #242424;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;

  &>:nth-child(2){
    &> *{
      margin-left: 20px;
      width: 88%;
    }
  }

  p,h3{
    color: #ffffff;
  }
  p{
    width: 90%;
  }

  img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-color: white;
    padding: 5px 50px;
    border-radius: 20px;
  }
} 

.item:hover{
  box-shadow: 0px 0px 10px rgb(115, 130, 161);
  translate: 0px -5px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(32, 44, 70);
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-bottom: -1px;
  border-radius: 0px 0px 20px 20px;
  margin-left: 1px;
  border: 1px solid rgb(88, 94, 133);
  border-top: 0px;


  &>:nth-child(1){
    font-weight: bold;
  }

  h3{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #ffffff;
    text-shadow: 0px 0px 2px #ffffff;

    button{
      background: linear-gradient(90deg,rgba(144, 53, 234, 1) 0%, rgba(40, 97, 235, 1) 100%);
      padding: 5px 15px;
      border-radius: 5px;
      width: 80%;
    }
  }
}

/*===========================================================*/

.section_cart{
  display: flex;
  flex-direction: column;
  gap: 0px;

  &> *{
    margin-bottom: 0px;
  }
}

img{ 
  width: 270px;        
  height: 300px;        
  object-fit: contain;
}

.menu_shop_cart{
  position: fixed;
  width: 390px;
  height: 101%;
  background-color: rgb(28, 30, 54);
  margin: -8px;
  overflow-y: auto;
  top: 0;
  right: 0px;
  transition: .8s;

  &>:nth-child(1){
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: -15px;
    justify-content: space-between;
    color: white;

    p{
      border: 0px solid;
      border-radius: 10px;
      padding: 5px;
      padding: 0px 15px 8px 15px;
      color: #ffffff;
      background-color: #e21d1d;
    }
  }
}

/*===========================================================*/

.summ{
  background-color: rgb(44, 97, 51) ;
  border-radius: 10px;
  margin-left: 0px;
  margin-top: 0px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}

.delete_cart{
  margin: 0px;
  width: 98%;
  height: 40px;
  border-radius: 10px;
  margin-top: -5px;
  font-size: 18px;
  background-color: #ad2525;
  cursor: pointer;
}

.cart{
  border: 0px solid;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: start;
  align-items: center;

  &>:nth-child(1){
    border: 0px solid;
    width: 65px;
  }

  img{
    width: 60px;
    height: 50px;
    border: 0px solid;
  }

  &>:nth-child(2){
    font-size: 13px;
    width: 100%;

    &>:nth-child(2){
      display: flex;
      justify-content: start;
      align-items: center;
      gap:0;
      font-size: 18px;

      button{
        border-radius: 5px;
        padding: 2px 7px;
      }

      &>:nth-child(2){
        margin: 0px;
        font-size: 16px;
      }

      &>:nth-child(4){
        font-weight: bold;
        font-size: 17px;
      }

      &>:nth-child(5){
        margin-left: auto;
        background-color: #ffffff00;
        width: 20px;
        height: 20px;
        background-image: url("/images/bin.png");
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: center;
        cursor: pointer;
        border: 1px solid red;
        padding: 15px 15px !important;
      }
    }
  }
}

/*===========================================================*/

.menu{
  border:  0px solid;
  width: 30px;
  height: 30px;
  background-image: url('/images/shopping-cart.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 12px;
  cursor: pointer;
  position: relative;
}

.nr_prod_cart{
  position: absolute;
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  bottom: 9px;
  left: 16px;
}

.cart_name{
  color: white;
}

/*===========================================================*/

@media screen and (min-width: 1500px) {
  .main{
    width: 1100px;
  }
}

@media screen and (max-width: 1500px) {
  header{
    width: 59.5% !important;
  }
}

@media screen and (max-width: 1000px) {

  .section_filter{
    input{
      width: 60% !important;
    }
  }
  .item {
    width: calc(50%);
  }
  .main{
    width: 600px !important;
  }
  header{
    width: 600px !important;
  }
}

@media screen and (max-width: 635px) {
  .main{
    width: 350px !important;
    input{
      height: 40px;
      margin-top: 10px;
      margin-left: -22px;
    }
    header{
      display: flex;
      justify-content:space-between;
      align-items: center;
      width: 350px !important;
      h1{
        margin-left: 5px;
      }
    }
  }
}